.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    background-image: url('scott-webb-eA2z1JSzZFI-unsplash.jpg');
    background-position: center right;
}

/*Will Finish Styling */