.footer {
    background-color:#0f323f;
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
}

.footer body {
    text-align: center !important;
}

.footer-desc {
    text-align: center !important;
}

.footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  } 

  .footer h3 {
      font-size: 1em;
      color: white !important;
      margin-top: 0.5em !important;
      margin-bottom: 0.5em !important;
  }

  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (max-width: 767px) {
      .footer-desc {
          text-align: center !important;
      }
      .footer body {
          text-align: center !important;
      }
  }